.weatherInfo {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
  justify-content: space-evenly;
  height: auto;
  bottom: 0;
  color: #fff;
  /* border-top: 1px solid rgba(255, 255, 255, 0.5); */
  font-weight: normal;
  font-family: "Economica", sans-serif;
  font-size: 16px;
  /* background-color: rgba(50, 50, 50, 0.7); */
  background: -webkit-linear-gradient(
    left,
    rgba(20, 20, 20, 0.6) 0%,
    rgba(50, 50, 50, 0.4) 100%
  );
  transition: all ease 0.3s;
  padding: 1rem;
  z-index: 200;
}

.expanded-false {
  transform: translateY(100%);
}

.expanded-true {
  transform: translateY(0);
}

.dataLine {
  /* background-color: rgba(80, 0, 0, 0.3); */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0.5rem 5px;
  border-bottom: 1px solid #ccc;
  position: relative;
  padding-bottom: 10px;
}

.dataLine:hover > .icon_description {
  opacity: 1;
  top: -35px;
  z-index: 100;
}

.wind-arrow {
  display: inline-block;
  margin-left: 0.5rem;
}

.weather_icon {
  height: 20px;
  margin-right: 0.5rem;
}

.icon_description {
  width: auto;
  height: 20px;
  white-space: nowrap;
  padding: 5px;
  border-radius: 5px;
  background-color: #222;
  text-align: center;
  position: absolute;
  top: 0;
  transition: all 0.5s ease;
  opacity: 0;
  z-index: -100;
}
