@media only screen and (max-width: 1615px) {
  .App-container {
    flex-direction: column;
  }
  .weatherWindow {
    width: 100%;
    height: 100vh;
  }
  .data_container {
    justify-content: center;
  }
  .weather_temp,
  .city_name,
  .weather_condition,
  .weatherIcon {
    transform: translateY(-50px);
  }
}
